/* 오늘의 쇼핑 제안 */
dl, dt, ul, ol, li{
    list-style: none;
    display: flex;
}
h2{
    margin:0;
    padding: 0;
    border:0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
header{
    width:1022px;
}
section{
    position: absolute;
    width:1022px;
    height:354px;
    top:188px;
}


.position{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    position: absolute;
    width:176px;
    top:100px;
}

.title{
    background-image: url("../../assets/icon/shopping.svg");
    background-repeat: no-repeat;
    background-position:left;

    display: flex;
    align-items: center;
}

.title_text{
    font-size: 24px;
    padding-left: 30px;
    font-weight: 500;
    line-height: 28px;
    height: 28px;
}
.product_List{
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap:5px;
}

.product_Card{
    display: flex;
    justify-content: center;
    position: relative;
    width: 200px;
    height: 270px;

    background-color: var(--color-white);
}
.product_Image{
    width:160px;
    height:160px;
}

.discount{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 3px 10px;
    gap:10px;

    position: absolute;
    width:53px;
    height: 30px;
    left:0px;
    top:0px;

    background-color: var(--color-red-500);
    border-radius: 0px 0px 4px 0px;

    color: var(--color-white);
    font-weight: 600;
    line-height: 24px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap:12px;

    position: absolute;
    width:172px;
    height:46px;
    left:-14px;
    top:186px;
}

.product_Name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    
    width: 172px;
    height: 17px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    flex:none;
    order: 0;
    flex-grow:0;
}

.product_Score{

    width:117px;
    height:38px;

    flex:none;
    order:1;
    flex-grow:0;
}

.shipping_Free{
    left: 0px;
    top:29px;

    font-weight: 500;
    font-size:14px;
    line-height: 17px;
    color:var(--color-gray-700);
}

.shipping_Rocket{
    width:55px;
    height: 16px;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:0px;
    gap:6px;
}

.review{
    top:74.24%;
    bottom:0%;

    font-weight: 400;
    font-size: 14px;
    line-height:17px;  
    color: var(--color-gray-700);
}

.crop{
    display: inline-flex;
    position: relative;
    width: 68px;
    height: 12px;
    overflow: hidden;
}

.star_4{
    display: inline-flex;
    position: absolute;
    top:-112px;
    left:0;
    width:68px;
    height:152px;
}

.star_4_5{
    display: inline-flex;
    position: absolute;
    top: -126px;
    left: 0;
    width: 68px;
    height: 152px;
}

.star_5 {
    display: inline-flex;
    position: absolute;
    top: -140px;
    left: 0;
    width: 68px;
    height: 152px;
}
